.bg-lightblue {
  background-color: rgb(238, 250, 255);
}

.bg-grey {
  background-color: rgb(242, 242, 242);
}

.textLicense {
  color: blue;
  font-size: 12px;
}

.textBluebeam {
  font-size: 16px;
}

.listItems {
  list-style: none;
  font-size: 12px;
}
